<col class="cfg-screen">
  <row class="cfg-header">
    <label class="cfg-title">{{ cfg.title }}</label>
  </row>

  <row class="boss-tab-bar">
    <button class="boss-tab-btn" onclick="tabOptions">{{ tab.optionsLabel }}</button>
    <button class="boss-tab-btn" onclick="tabPhases">{{ tab.phasesLabel }}</button>
    <button class="boss-tab-btn" onclick="tabDrops">{{ tab.dropsLabel }}</button>
  </row>

  <col class="boss-tab-body" v-if="tab.options">
    <label class="section-title">Identite</label>

    <row class="boss-main-row">
      <col class="field-group flex-1">
        <label class="field-label">Id</label>
        <input id="bossId" class="field-input wide"
               value="{{ v.bossId }}" oninput="onBossId" placeholder="boss_1" />
      </col>
      <col class="field-group boss-col-hp">
        <label class="field-label">HP</label>
        <input id="bossHp" class="field-input wide"
               value="{{ v.bossHp }}" oninput="onBossHp" placeholder="100" />
      </col>
    </row>

    <col class="field-group boss-entity-field">
      <label class="field-label">Entite</label>
      <input id="bossType" class="field-input wide"
             value="{{ v.bossType }}" oninput="onBossType" placeholder="minecraft:wither_skeleton" />
    </col>

    <label class="section-title">Spawn</label>
    <row class="boss-option-row">
      <col class="field-group boss-col-chance">
        <label class="field-label">Chance</label>
        <input id="bossChance" class="field-input wide"
               value="{{ v.bossChance }}" oninput="onBossChance" placeholder="1.0"
               tooltip="Probabilite de spawn. 1.0 = toujours, 0.0 = jamais." />
      </col>
      <button class="btn-add boss-toggle" onclick="toggleOptional"
              tooltip="Fixe: spawn garanti. Optionnel: applique la chance de spawn.">{{ v.bossOptional }}</button>
      <button class="btn-add boss-toggle" onclick="toggleRequired"
              tooltip="Kill requis: necessaire pour finir. Kill libre: optionnel pour la victoire.">{{ v.bossRequired }}</button>
    </row>
  </col>

  <col class="boss-tab-body" v-if="tab.phases">
    <row class="boss-tab-toolbar">
      <label class="section-title flex-1">Phases</label>
      <button class="btn-add" onclick="addPhase">+ Ajouter phase</button>
    </row>

    <row class="boss-list-head">
      <label class="row-idx">#</label>
      <label class="boss-head boss-col-num">HP%</label>
      <label class="boss-head boss-col-num">Dmg</label>
      <label class="boss-head boss-col-num">Spd</label>
      <label class="boss-col-del"></label>
    </row>

    <row class="list-row boss-edit-row" v-for="p in phase.count">
      <label class="row-idx">{{ p.phaseIndex }}</label>
      <col class="field-group boss-col-num">
        <input id="{{ p.phaseHpId }}" class="field-input wide"
               value="{{ p.phaseHp }}" oninput="{{ p.phaseHpKey }}" placeholder="50" />
      </col>
      <col class="field-group boss-col-num">
        <input id="{{ p.phaseDmgId }}" class="field-input wide"
               value="{{ p.phaseDmg }}" oninput="{{ p.phaseDmgKey }}" placeholder="1.0" />
      </col>
      <col class="field-group boss-col-num">
        <input id="{{ p.phaseSpdId }}" class="field-input wide"
               value="{{ p.phaseSpd }}" oninput="{{ p.phaseSpdKey }}" placeholder="1.0" />
      </col>
      <button class="btn-del boss-col-del" onclick="{{ p.phaseDelKey }}">X</button>
    </row>
  </col>

  <col class="boss-tab-body" v-if="tab.drops">
    <row class="boss-tab-toolbar">
      <label class="section-title flex-1">Drops boss</label>
      <button class="btn-add" onclick="addReward">+ Ajouter drop</button>
    </row>

    <row class="boss-list-head">
      <label class="row-idx">#</label>
      <label class="boss-head boss-col-item">Item</label>
      <label class="boss-head boss-col-small">Min</label>
      <label class="boss-head boss-col-small">Max</label>
      <label class="boss-head boss-col-chance">Chance</label>
      <label class="boss-col-del"></label>
    </row>

    <row class="list-row boss-edit-row" v-for="r in reward.count">
      <label class="row-idx">{{ r.rewardIndex }}</label>
      <col class="field-group boss-col-item">
        <input id="{{ r.rewardItemId }}" class="field-input wide"
               value="{{ r.rewardItem }}" oninput="{{ r.rewardItemKey }}"
               placeholder="minecraft:diamond" />
      </col>
      <col class="field-group boss-col-small">
        <input id="{{ r.rewardMinId }}" class="field-input wide"
               value="{{ r.rewardMin }}" oninput="{{ r.rewardMinKey }}" placeholder="1" />
      </col>
      <col class="field-group boss-col-small">
        <input id="{{ r.rewardMaxId }}" class="field-input wide"
               value="{{ r.rewardMax }}" oninput="{{ r.rewardMaxKey }}" placeholder="1" />
      </col>
      <col class="field-group boss-col-chance">
        <input id="{{ r.rewardChanceId }}" class="field-input wide"
               value="{{ r.rewardChance }}" oninput="{{ r.rewardChanceKey }}" placeholder="1.0" />
      </col>
      <button class="btn-del boss-col-del" onclick="{{ r.rewardDelKey }}">X</button>
    </row>
  </col>

  <row class="cfg-footer">
    <button class="btn-back" onclick="back" data-i18n="arcadia.admin.boss.back">Retour</button>
    <button class="btn-danger" onclick="deleteBoss">Supprimer</button>
    <col class="spacer" />
    <button class="btn-save" onclick="save" data-i18n="arcadia.admin.boss.save">Sauver</button>
  </row>
</col>
